<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/tabs.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/fileUpload.js}"></script>
	<script th:src="@{js/toggleBtn.js}"></script>
	<script th:src="@{js/business/tp/TP02020S.js}"></script>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 신규등록 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox-content mb-1">

					<!-- 기본 -->
					<div class="ibox">
						<div class="ibox-title">
							<h5>▶&nbsp;청약 기본 정보</h5>
						</div>
						<div class="ibox-content">
							<!-- row1 -->
							<div class="row form-group form-inline text-right mb-1">
								<div class="col-sm-12 form-group">
									<label class="col-sm-1 col-form-label text-right">청약코드</label>
									<div class="col-sm-2 input-group">
										<input type="text" class="form-control" id="" readonly> 
									</div>
									<label class="col-sm-1 col-form-label text-right">종목코드</label>
									<div class="col-sm-2 input-group">
										<select class="form-control" id="">
											<option value="">선착순배정</option>
											<option value="">비례배정</option>
										</select>
									</div>
									<label class="col-sm-1 col-form-label text-right">종목명</label>
									<div class="col-sm-2 input-group ">
										<input type="text" class="form-control" id="" readonly="">
									</div>
									<label class="col-sm-1 col-form-label text-right">발행가격</label>
									<div class="col-sm-2 input-group">
										<input type="text" class="form-control" id="" readonly="" style="text-align: right;">
									</div>
								</div>
							</div>
							<!-- row2 -->
							<div class="row form-group form-inline text-right mb-1">
								<div class="col-sm-12 form-group">
									<label class="col-sm-1 col-form-label text-right">청약마감일자</label>
									<div class="col-sm-2 input-group date">
										<input type="text" class="form-control" id="" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')" onblur="this.value=formatDate(this.value.replaceAll('-',''));">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
									<label class="col-sm-1 col-form-label text-right">배정일자</label>
									<div class="col-sm-2 input-group date">
										<input type="text" class="form-control" id="" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')" onblur="this.value=formatDate(this.value.replaceAll('-',''));">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
									<label class="col-sm-1 col-form-label text-right">환불(공고)일자</label>
									<div class="col-sm-2 input-group date">
										<input type="text" class="form-control" id="" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')" onblur="this.value=formatDate(this.value.replaceAll('-',''));">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
									<label class="col-sm-1 col-form-label text-right">상장(입고)예정일자</label>
									<div class="col-sm-2 input-group date">
										<input type="text" class="form-control" id="" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')" onblur="this.value=formatDate(this.value.replaceAll('-',''));">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>
							<!-- row3 -->
							<div class="row form-group form-inline text-right mb-1">
								<div class="col-sm-12 form-group">
									<label class="col-sm-1 col-form-label text-right">청약시작시간</label>
									<div class="col-sm-2 input-group">
										<input type="text" class="form-control" id="" disabled> 
									</div>
									<label class="col-sm-1 col-form-label text-right">청약마감시간</label>
									<div class="col-sm-2 input-group">
										<input type="text" class="form-control" id="" disabled>
									</div>
									<label class="col-sm-1 col-form-label text-right">청약종목등록구분</label>
									<div class="col-sm-2 input-group">
										<select class="form-control" id="">
											<option value="">선택</option>
										</select>
									</div>
									<label class="col-sm-1 col-form-label text-right">청약가능 여부</label>
									<div class="col-sm-2 input-group">
										<select class="form-control" id="">
											<option value="">선택</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ibox">
						<div class="ibox-title">
							<h5>▶&nbsp;청약 수량 정보</h5>
						</div>
						<div class="ibox-content">
							<!-- row1 -->
							<div class="row form-group form-inline text-right mb-1">
								<div class="col-sm-12 form-group">
									<label class="col-sm-1 col-form-label text-right">총 모집수량</label>
									<div class="col-sm-2 input-group">
										<input type="number" class="form-control" id="">
									</div>
									<label class="col-sm-1 col-form-label text-right">총 모집금액</label>
									<div class="col-sm-2 input-group">
										<input type="text" class="form-control" id="" readonly style="text-align: left;">  
									</div>
								</div>
							</div>
							<!-- row2 -->
							<div class="row form-group form-inline text-right mb-1">
								<div class="col-sm-12 form-group">
									<label class="col-sm-1 col-form-label text-right">최소청약수량</label>
									<div class="col-sm-2 input-group">
										<input type="number" class="form-control" id="">
									</div>
									<label class="col-sm-1 col-form-label text-right">최소청약금액</label>
									<div class="col-sm-2 input-group">
										<input type="text" class="form-control" id="" style="text-align: left;">  
									</div>
									<label class="col-sm-1 col-form-label text-right">최소모집금액</label>
									<div class="col-sm-2 input-group">
										<input type="number" class="form-control" readonly id="" style="text-align: left;">
									</div>
									<label class="col-sm-1 col-form-label text-right">최소모집수량</label>
									<div class="col-sm-2 input-group">
										<input type="text" class="form-control" id="" >  
									</div>
								</div>
							</div>
							<!-- row3 -->
							<div class="row form-group form-inline text-right mb-1">
								<div class="col-sm-12 form-group">
									<label class="col-sm-1 col-form-label text-right">최대청약수량</label>
									<div class="col-sm-2 input-group">
										<input type="number" class="form-control" id="">
									</div>
									<label class="col-sm-1 col-form-label text-right">최대청약금액</label>
									<div class="col-sm-2 input-group">
										<input type="text" class="form-control" id="" style="text-align: left;">  
									</div>
									<label class="col-sm-1 col-form-label text-right">최소모집비율</label>
									<div class="col-sm-2 input-group">
										<input type="number" class="form-control" id="" style="text-align: left;">
									</div>
									<label class="col-sm-1 col-form-label text-right">청약증거금율</label>
									<div class="col-sm-2 input-group">
										<input type="text" class="form-control" id="" readonly>  
									</div>
								</div>
							</div>
						</div>
					</div>
				
					
					
					
					<div class="ibox">
						<div class="text-right">
							<button class="btn btn-default" id="" onclick=""><i class="fa fa-undo"></i>&nbsp;초기화</button>
							<button class="btn btn-success" id="" type="button" onclick=""><i class="fa fa-save"></i>&nbsp;등록</button>
							
							<button class="btn btn-default" type="button" onclick=""><i class="fa fa-pencil"></i>&nbsp;수정</button>
						</div>
					</div>
				</div><!-- div row -->
				
			</div>

			
		</div>		
	</div>
</th:block>

</html>