<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/business/tp/TP02010S.js}"></script>
</th:block>

<th:block layout:fragment="customContent">
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<!-- 조회조건영역 -->
					<div class="ibox-content i-filter text-right">
						<div class="form-group form-inline row">
							<!-- 1 -->
							<div class="form-group col-sm-12">
								<label class="col-sm-1 col-form-label text-right">배정구분</label>
								<div class="col-sm-2 input-group">
									<select class="form-control" name="account" id="">
										<option value="" selected>전체</option>
										<option value="">선착순</option>
										<option value="">비례</option>
									</select>
								</div>
								<label class="col-sm-1 col-form-label text-right">청약개시일</label>
								<div class="col-sm-3 input-group date">
									<div class="col-sm-5 input-group date px-0">
										<input type="text" class="form-control" id="" name="FromDate" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
									<span class="input-group-addon border-none"> ~ </span>
									<div class="col-sm-5 input-group date px-0">
										<input type="text" class="form-control" id="" name="ToDate" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
								
								<!-- 버튼영역 -->
								<div class="col-sm-4 text-right">
									<button class="btn btn-primary" onclick=""><i class="fa fa-search"></i>&nbsp;조회</button>
									<button class="btn btn-default" onclick="" style="margin-right: 32px;"><i class="fa fa-undo"></i>&nbsp;초기화</button>
								</div>
							</div>
							<!-- row2 -->
							<div class="form-group col-sm-12">
								
							</div>
							
						</div>
					</div>
					<!-- 조회결과 -->
					<div class="ibox-content" style="min-height: 680px">

						<!-- 임시로 추가함 s -->
						<div class="" style="min-height: 480px">
							<div class="ibox">
								<div class="text-right">
									<select class="select-xs" name="account" id="">
										<option value="">25개씩 보기</option>
										<option value="">50개씩 보기</option>
										<option value="">100개씩 보기</option>
									</select>
									<button class="btn btn-warning btn-xs" onclick=""><i class="fa fa-upload"></i>&nbsp;엑셀업로드</button>
								</div>
							</div>
							<table class="table result table-bordered footable">
								<colgroup>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
								</colgroup>
								<thead>
									<tr> 
										<th>청약코드</th>
										<th>청약시작일</th>
										<th>종목코드</th>
										<th>청약종목명</th>
										<th>쳥약발행가격</th>
										<th>청약종료일자</th>
										<th>상장예정일자</th>
										<th>배정방식</th>
										<th>중단여부</th>
									</tr>
								</thead>
								<tbody id="">
									<tr class="text-center">
										<td>600000</td>
										<td>2024.01.21</td>
										<td>400000</td>
										<td class="underline">부동산1호 토큰</td>
										<td style="text-align: right;">5,000</td>
										<td>2024.01.29</td>
										<td>2024.01.30</td>
										<td>선착순</td>
										<td>N</td>
									</tr>
									<tr class="text-center">
										<td>600000</td>
										<td>2024.01.21</td>
										<td>400000</td>
										<td class="underline">부동산1호 토큰</td>
										<td style="text-align: right;">5,000</td>
										<td>2024.01.29</td>
										<td>2024.01.30</td>
										<td>선착순</td>
										<td>N</td>
									</tr>
									<tr class="text-center">
										<td>600000</td>
										<td>2024.01.21</td>
										<td>400000</td>
										<td class="underline">부동산1호 토큰</td>
										<td style="text-align: right;">5,000</td>
										<td>2024.01.29</td>
										<td>2024.01.30</td>
										<td>선착순</td>
										<td>N</td>
									</tr>
									<tr class="text-center">
										<td>600000</td>
										<td>2024.01.21</td>
										<td>400000</td>
										<td class="underline">부동산1호 토큰</td>
										<td style="text-align: right;">5,000</td>
										<td>2024.01.29</td>
										<td>2024.01.30</td>
										<td>선착순</td>
										<td>N</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div aria-label="Page navigation example">
							<ul class="pagination">
							  <li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
								  <span aria-hidden="true">&laquo;</span>
								</a>
							  </li>
							  <li class="page-item"><a class="page-link" href="#">1</a></li>
							  <li class="page-item"><a class="page-link" href="#">2</a></li>
							  <li class="page-item"><a class="page-link" href="#">3</a></li>
							  <li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
								  <span aria-hidden="true">&raquo;</span>
								</a>
							  </li>
							</ul>
						</div>
						<!-- 임시로 추가함 e -->
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>