<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="TB04011P">
	<!-- modal -->
	<div id="modal-TB04011P" class="modal fade"  aria-hidden="true" role="dialog">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header metis-modal-header">
					<h4 class="modal-title">안건 내역 조회</h4>
					<div class="col-sm-1 text-right">
                   		<button type="button" class="btn btn-default" onclick="modalClose_TB04011P();"><i class="fa fa-times"></i></button>
                   	</div>
				</div>
				<div class="modal-body">
					<input type="hidden" name="TB04011P_prefix" id="TB04011P_prefix" value=""/>
					<div class="row">
						<div class="col-sm-12 b-r">
							<div class="ibox ">
								<!-- 조회조건영역 -->
				    			<div class="ibox-content i-filter text-right">
				    				<form method="get">
				    					<div class="form-group row">
				    						<label class="col-sm-1 col-form-label">Deal번호</label>
				                            <div class="col-sm-3"><input type="text" class="form-control" id="TB04011P_ibDealNo"></div>
				                        	<label class="col-sm-1 col-form-label">안건명</label>
				                            <div class="col-sm-3 pr-3"><input type="text" class="form-control" id="TB04011P_ibDealNm"></div>
				                        	<!-- <div class="col-sm-10" id="divSpan"></div> -->				                        	
				                        </div>
																<div class="form-group row">
																	<label class="col-sm-1 col-form-label text-right">담당자번호</label>
																		<div class="col-sm-3 input-group">
																		<input type="text" class="form-control"  id="TB04011P_empNo">
																		<span class="input-group-append">
																			<button type="button" class="btn btn-default" onclick="callTB03022P('TB04011P')"><i class="fa fa-search"></i></button>
																		</span>
																		<input type="text" class="form-control" id="TB04011P_empNm" readonly>
																	</div>
																	<label class="col-sm-1 col-form-label text-right">관리부서</label>
																	<div class="col-sm-3">
																		<div class="input-group">
																			<select class="form-control" id="TB04011P_dprtNm">
																				<option value="">전체</option>
																			</select>
																			<input type="text" class="form-control" id="TB04011P_dprtCd" readonly="">
																		</div>
																	</div>
																	<!-- <label class="col-sm-1 col-form-label text-nowrap" id="labelDscDt">Deal등록일자</label>
																								<span class="col-sm-2 input-group date" id="spanDstDt">
																											<input type="text" class="form-control" id="TB03021P_datepicker1" value="" ><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
																									</span> -->
																							<!-- <div class="col-sm-5" id="divSpan"></div> -->
																	<div class="col-sm-4 text-right">
																								<button type="button" class="btn btn-primary mr-2" onclick="getMtrInfo_TB04011P();" ><i class="fa fa-search"></i>&nbsp;조회</button>
																							</div>	
																</div>	
				    				</form>
				    			</div>
				    			<!-- 조회결과 -->
				    			<div class="ibox-content">
				    				<div id="gridMtrInfo"></div>
				    			</div>
							</div><!-- ibox -->
						</div>
					</div>
				</div>
			</div><!-- end of modal_content -->
		</div>
	</div>
</th:block>
</html>