<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/business/tb/TB10110S.js}"></script>
	<script th:src="@{js/business/popup/AC01130P.js}"></script>
	<script th:src="@{js/business/tb/TB03022P.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/popup/AC01130P :: AC01130P"></th:block>
	<th:block th:replace="business/tb/TB03022P :: TB03022P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 사용자관리 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<!-- 조회영역 -->
			<div class="col-lg-12">
				<div class="ibox ">
					<div class="ibox-content i-filter">
						<div class="row form-group form-inline text-right">
							<div class="col-sm-12 input-group">
								<label class="col-sm-1 control-label">권한구분</label>
								<div class="col-sm-2">
									<div class="input-group">
										<select class="form-control m-b" id="TB10110S_rghtCd">
											<option value="">전체</option>
										</select>
									</div>
								</div>
								<label class="col-sm-1 col-form-label ls-15">사번</label>
								<div class="col-sm-2 input-group">
									<input type="text" class="form-control" id="TB10110S_empNo" name=""
										placeholder=""> <span class="input-group-append">
										<button type="button" class="btn btn-default"
											onclick="callTB03022P('TB10110S');">
											<i class="fa fa-search"></i>
										</button>
									</span> <input type="text" class="form-control border-left-none"
										id="TB10110S_empNm" name="" placeholder="전체" readonly="">
								</div>
								<!-- <div class="col-sm-2 input-group">
									<input type="text" class="form-control text-right" id="empNm">
								</div> -->
								<label class=" control-label" for="TB05030S_chkF">
									<input type="checkbox" id="TB10110S_delYn"> 과거이력포함
								</label>
								<label class="col-sm-1 col-form-label ls-15">부서코드</label>
								<div class="col-sm-2 input-group">
									<input type="text" class="form-control" id="TB10110S_empNo" name=""
										placeholder=""> <span class="input-group-append">
										<button type="button" class="btn btn-default"
											onclick="callTB03022P('TB10110S');">
											<i class="fa fa-search"></i>
										</button>
									</span> <input type="text" class="form-control border-left-none"
										id="TB10110S_empNm" name="" placeholder="전체" readonly="">
								</div>
								<div class="col-sm-1 text-right">
									<button class="btn btn-primary" onclick="TB10110Sjs.runFindUser();">
										<i class="fa fa-search"></i>&nbsp;조회</button>
								</div>
							</div>
						</div>
					</div>
					<!-- 조회결과 -->
					<div class="ibox-content" style="height: 650px;">
						<div class="col-sm-12 text-right mb-1">
							<button class="btn btn-info btn-xs" type="button" onclick="callAC01130P()"><i
									class="fa fa-user"></i>&nbsp;사용자추가</button>
						</div>
						<div id="TB10110S_userList"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>